<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>forestgrey</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
                    </li>
                    <li role="presentation"><a href="#">Designs</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
        <h3 class="text-muted"><a href="/">forestgrey</a></h3>
        </div>
 
        <div class="jumbotron">
            <img src="https://s24.postimg.org/cf1bybmat/image.png" align = "center">
            <h2>Peregrine Falcon Nest</h2>
        <img src="https://s24.postimg.org/izg72zfc5/Screen_Shot_2017_01_28_at_3_25_22_PM.png" align = "center">
        <br>
        <img src="https://s23.postimg.org/ghoi5yf6z/Screen_Shot_2017_01_28_at_3_25_35_PM.png">
        <br>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 


        <footer class="footer">
            <p>&copy; forestgrey 2017</p>
        </footer>
 
    </div>
</body>
 
</html>